<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        h1 {
            color: brown;
            text-align: center;

        }

        h2 {
            text-align: center;
        }

        body {
            background-color: lightcyan;
        }

        li {
            list-style-type: none;
            padding: 0;
            margin: 0;
            letter-spacing: 3px;
            text-emphasis: none;

        }
    </style>
</head>

<body>
    <h1>Parts list</h1>

    <ol>
        {% for part in parts %}
        <li><b> Distributor: </b> {{ part.distributor_name}} <b> SKU :</b> {{ part.sku}} <b> MOQ <b> :{{ part.moq}}</li>

        {% endfor %}
    </ol>

    <h2>Hi, Looking for parts information <a href="/parts"> cool,</a> a 'work_in_progress' Parts table follows next.</h2>

</body>

</html>